@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);

body {
  /* Negative gray theme as primary colors */
  --app-color-primary-1: #212121;
  --app-color-primary-2: #595959;
  --app-color-primary-3: #ABABAB;
  --app-color-primary-4: #FFFFFF;

  --chat-app-max-width: 576px;
  --chat-app-margin-and-padding: 8px;

  background-color: var(--app-color-primary-1);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0 auto;
  max-width: var(--chat-app-max-width);
}

::selection {
  background-color: var(--app-color-primary-3);
}

h1 {
  color: var(--app-color-primary-3);
  text-align: center;
  font-size: 24px;
  font-weight: 300;
}

ol {
  margin: 0 0 calc(3 * var(--chat-app-margin-and-padding) + 48px);
  padding: 0;
}

li {
  margin: var(--chat-app-margin-and-padding);
  padding: var(--chat-app-margin-and-padding);
  overflow: hidden;
}

li p {
  font-size: 16px;
  margin: 0px;
}

li time {
  font-size: 14px;
}

li.other {
  background-color: var(--app-color-primary-4);
  color: var(--app-color-primary-1);
}

li.other time {
  color: var(--app-color-primary-2);
}

li.self {
  background-color: var(--app-color-primary-1);
  color: var(--app-color-primary-4);
}

li.self time {
  color: var(--app-color-primary-3);
}

section {
  background: var(--app-color-primary-4);
  color: var(--app-color-primary-1);
  padding: 4px;
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
  max-width: var(--chat-app-max-width);
  display: flex;
  flex-direction: row;
  align-items: center;
}

input[type="text"] {
  border: none;
  outline: none;
  font-size: inherit;
  height: 24px;
  min-width: 24px;
  padding: 12px 0;
  flex-grow: 1;
}

input[type="image"] {
  width: 24px;
  height: 24px;
  padding: 12px;
  cursor: pointer;
  opacity: 0.87;
}

input[type="image"]:hover {
  opacity: 0.65;
}

img[src="images/loading.svg"] {
  color: var(--app-color-primary-3);
  margin: 8px 8px 0px;
}
