@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);

html, body {
  /* Negative gray theme as primary colors */
  --app-color-primary-1: #212121;
  --app-color-primary-2: #595959;
  --app-color-primary-3: #ABABAB;
  --app-color-primary-4: #FFFFFF;

  background-color: var(--app-color-primary-1);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0px auto;

  display: flex;
  justify-content: center;
  min-height: 100vh;
}

::selection {
  background-color: var(--app-color-primary-3);
}

article {
  max-width: 576px;
  max-height: 100vh;

  display: flex;
  flex-basis: 576px;
  flex-direction: column;
}

h1 {
  color: var(--app-color-primary-3);
  text-align: center;
  font-size: 24px;
  font-weight: 300;
}

/* Messages */

ol {
  margin: 0;
  padding: 0;

  flex-grow: 1;
  overflow-y: auto;
}

li {
  margin: 8px;
  overflow: hidden;
  padding: 10px;

  display: flex;
  flex-direction: column;
}

li p {
  font-size: 16px;
  margin: 0px;
}

li time {
  font-size: 14px;
  margin-top: 4px;
  cursor: default;
}

li.other {
  background-color: var(--app-color-primary-4);
  color: var(--app-color-primary-1);
}

li.other time {
  color: var(--app-color-primary-2);
}

li.self {
  background-color: var(--app-color-primary-1);
  color: var(--app-color-primary-4);
}

li.self time {
  color: var(--app-color-primary-3);
}

/* Inputs */

section {
  background: var(--app-color-primary-4);
  color: var(--app-color-primary-1);
  padding: 4px;

  display: flex;
  flex-shrink: 0;
  align-items: center;
}

input[type="text"] {
  border: none;
  outline: none;
  font-size: inherit;

  flex-grow: 1;
}

input[type="image"] {
  width: 24px;
  height: 24px;
  padding: 12px;
  cursor: pointer;
  opacity: 0.87;
}

input[type="image"]:hover {
  opacity: 0.65;
}
